apiVersion: v1
kind: List
items:
{% for index in range(1, (num_apps | int) + 1) %}
- apiVersion: route.openshift.io/v1
  kind: Route
  metadata:
    annotations:
      haproxy.router.openshift.io/balance: roundrobin
      haproxy.router.openshift.io/disable_cookies: "true"
      haproxy.router.openshift.io/x-variant: stable
    labels:
      app: scale-test
    name: app-{{ index }}
    namespace: {{ namespace }}
  spec:
    host: app-{{ index }}.{{ wildcard_domain }}
    port:
      targetPort: http-8080
    tls:
      termination: edge
    to:
      kind: Service
      name: app-{{ index }}
      weight: 100
    wildcardPolicy: None
{% endfor %}
